<!DOCTYPE html>
<html>
  <head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Simple to do wih vue js</title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
  </head>
  <body>
        <div id="app">
            <ul  class="todo">
                <li v-for="todo in todos" v-bind:class="{completed : todo.completed}" v-on:click.prevent="task_done(todo)">{{ todo.task }}</li>
            </ul>

            <input type="text" v-model="new_todo" v-on:keyup.enter="add_newtask()" v-on:keyup.esc="clear_taskentry()">

            <input type="button" value="Submit" v-on:click="add_newtask()" />
        </div>

    <script src="js/app.js"></script>
  </body>
</html>
